@model FinalGroupProjectTeam8.Models.BankAccount
@{
    ViewBag.Title = "Application Success";
}

<div>

    <p></p>
    Thanks for submitting your account application. We'll get to reviewing it soon.

    <br />

    @Html.ActionLink("Back to Home", "Home", "User")
</div>