
@{
    ViewBag.Title = "CreateTransaction";
}

<h2>Create Transaction</h2>

<body>
    <div>
        @Html.ActionLink("Deposit", "CreateDeposit", "Transactions", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Withdraw", "CreateWithdrawal", "Transactions", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Transfer", "CreateTransfer", "Transactions", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Payment", "CreatePayment", "Transactions", null, new { @class = "btn btn-primary" })


    </div>
</body>

