@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Longhorn Bank</h1>
    <p class="lead">Your personal saving, spending, and investing hub.</p>
</div>

@*<body>
        <div>
            @Html.ActionLink("Savings Account", "Index", "SavingsAccounts", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Checking Account", "Index", "CheckingAccounts", null, new { @class = "btn btn-success" })
            @Html.ActionLink("IRA", "Index", "IRAs", null, new { @class = "btn btn-danger" })
            @Html.ActionLink("Stock Portfolio", "Index", "StockPortfolios", null, new { @class = "btn btn-danger" })
        </div>
    </body>*@

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Savings Account</h2>
            <p>
                Standard savings account that can be used to pay bills or purchase stocks. No limits per customer.
            </p>
            <p><a class="btn btn-default" href="~/Account/Register">Apply</a></p>
        </div>
        <div class="col-md-6">
            <h2>Checking Account</h2>
            <p>Standard checking account that can be used to pay bills or purchase stocks. No limits per customer. Only standard transactions can be applied to checking account (deposit, withdrawal, and transfer). No limit per customer.</p>
            <p><a class="btn btn-default" href="~/Account/Register">Apply</a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Individual Retirement Account</h2>
            <p>
                A special type of account that customers can use to save for retirement. A customer must be less than 70 years old and contribute less than a maximum of $5000 to invest into an IRA. Maximum of 1 per customer.
            </p>
            <p><a class="btn btn-default" href="~/Account/Register">Apply</a></p>
        </div>
        <div class="col-md-6">
            <h2>Stock Portfolio</h2>
            <p>Customers may use stock portfolios to buy and sell stocks and funds offered through Longhorn Bank. Maximum of 1 per customer.</p>
            <p><a class="btn btn-default" href="~/Account/Register">Apply</a></p>
        </div>
    </div>
</div>

