@model FinalGroupProjectTeam8.Models.Payee
@{
    ViewBag.Title = "Success";
}

<div>
    Your payee has been succesfully added!

    <br />

    @Html.ActionLink("Back to payees", "Home", "Payee")
</div>